In [2]:
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Style matplotlib
plt.style.use(['ggplot'])

In [14]:
email_data = pd.read_csv('Emails.csv')
email_rec_data = pd.read_csv('EmailReceivers.csv')
persons = pd.read_csv('Persons.csv')
aliases = pd.read_csv('Aliases.csv')

In [89]:
# Create Frequency Distribution from the number of emails received by person

rec_freq = pd.DataFrame(email_rec_data['PersonId'].value_counts())
rec_freq = rec_freq.reset_index()
rec_freq.columns = ['Id','Count']
rec_freq_labeled = pd.merge(rec_freq, persons, on='Id')
rec_freq_labeled.head()

    Id  Count             Name
0   80   5587  Hillary Clinton
1   81    720      Huma Abedin
2   87    484    Jake Sullivan
3   32    454     Cheryl Mills
4  116    267    Lauren Jiloty